/**
 * @file
 * Styling for the custom article template.
 */

.custom-article > .group-image {
	clear: both;
}

.custom-article > .group-contents {
	float: left; /* LTR */
	width: 73%;
	margin-right: 2%;
}

.custom-article > .group-sidebar {
	float: right; /* LTR */
	width: 25%;
}

.custom-article > .group-footer {
	clear: both;
}

@media only screen and (max-width: 767px) {
	.custom-article > .group-contents,
	.custom-article > .group-sidebar {
		display: block !important;
		clear: both !important;
		float: none !important;
		width: 100% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}