

$_font1 = 'Raleway', "Ubuntu", Arial,  sans-serif
$_font2 = 'Kite One', sans-serif//bien, funciiona bien, arial-sutil handwrite muy limpia, ME GUSTA

/*.pace-background
	font-family: $_font2
	font-size: 2em
	font-style: italic*/

body
	font-family: $_font1
	font-size: 14px
	line-height: 1.42857143
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

h1
h2
h3
h4
h5
h6
.breadcrumb span
a
#content strong
#content em
blockquote
	font-family: $_font2
h1
h2
h3
	font-weight: 900
h4
h5
h6
	font-weight: 700
	
blockquote 
	font-style: italic
	
.text-center
	text-align: center
.text-right
	text-align: right

	
.top-bar-right
	.container-inline
		text-align: right
		
#logo
#name-and-slogan
#site-name
#site-slogan
#page-title
#breadcrumb-wrapper
.contact-title
.footer-menu ul
.block-title
	text-align: center
	
.contact-title
	font-size: 2em

/*General*/
#page-title-wrapper
	letter-spacing: 4px
.breadcrumb a
	text-decoration: none
	font-size: 1.1em
.breadcrumb .separator
	font-weight: bold
	font-size: 2em
	line-height: 16px
	
ul.primary
	text-align: center
	

span.close-button
	font-size: 2em;
	font-weight: bold;
	line-height: 24px;
	
.form-text
textarea
	padding: 3px
	line-height: 20px
	font-family: $_font2

/*-----------------Comentarios------------------*/
#block-system-main article.comment
	.new
		font-weight: 700
		text-transform: uppercase